@media(max-width: 576px){
    .navbar-brand {
        padding-right: 0px !important;
        margin-left: -171px !important;
    }
    .slider-in.gone{
        margin-bottom: -70px !important;
        margin-left: 23px;
    }
    .left-side{
        width: 400px;
        height: 500px;
        background: #000;
        margin-bottom: 800px;
    }
    .slider-in h5{
        font-size: 20px !important;
    }
    .slider-in p{
        font-size: 9px;
    }
    .slider-icon{
        font-size: 20px !important;
        padding-right: 10px;
    }
    .service-header.res p{
        font-size: 14px !important;
        padding-left: -0px !important;
        margin-right: -7px !important;
    }
    .service-con{
        display: block !important;
        margin-top: -116px  !important;
    }
    .service-icon{
        text-align: center !important;
    }
    .footer-text h5{
        font-size: 28px !important;
    }
    .footer-text.goge p{
        padding: 0 0px !important;
    }
    .form-control.ober{
        display: block !important;
    }
    .form-control {
        width: 281px !important;
        margin-left: 10px !important;
    }
    .btn-primary.oma{
        display: block !important;
        margin-left: 10px;
    }
    .footer-icon.icon_f{
        padding: 80px 0px  !important;
        margin-top: -42px !important;
    }
    .dwon-footer-part.left{
        margin-left: -10px  !important;
    }
}
@media(max-width: 768px){
    .slider-in{
        margin-bottom: -6px !important;
        margin-left: 23px;
        justify-self: center;
    }
    .carousel-inner{
        height: 550px;
    }
    .carousel-item img{
        height: 550px;
    }
    .dwon-footer-part{
        margin-left: 100px !important;
    }
}
@media(max-width: 992px){
    .navbar-brand {
        margin-right: 0px !important;
        margin-left: -150px !important;
    }
    .navbar-light .navbar-nav .nav-link {
        padding-right: 70px !important;
    }
    .service-header p{
        font-size: 17px !important;
        padding-left: -0px !important;
        margin-right: -21px !important;
    }
    .footer-text p{
        font-size: 13px !important;
        padding: 0 155px !important;
    }
    .form-control{
        display: none !important;
    }
    .btn-primary{
        display: none !important;
    }
    .footer-icon{
        padding: 80px 129px  !important;
        margin-top: -42px !important;
    }
}
@media(max-width: 1200px){
    .navbar-brand {
        padding-right: 0px !important;
        margin-left: -107px ;
    }
    .carousel-caption{
        margin-bottom: 160px !important;
        margin-left: 23px;
    }
}
/* @media (min-width: 576px) and (max-width: 767.98px) {
    
} */